html, body{
  height: 100%;
}
body {
			background-image: url(bg1.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}

body#about-html div.container {
      float: right;
      padding-left: 50px;
      max-width: 70%;
}


body#overviews-html div.container {
      float: left;
      padding-right: 50px;
      max-width: 70%;
}

body#locations-html div.container {
      float: right;
      padding-left: 50px;
      max-width: 70%;
}


div.container > h1, h1 {
      color: white;
      /* margin-left: 15rem; */
      margin-top: 1.5rem;
}

.navbar-expand-lg .navbar-collapse {
    font-size: x-large;
    margin-top: 1.5rem;
}

nav.navbar-light ul.navbar-nav a.nav-link {
    color: #235784;
}


#navbarSupportedContent > form > button{
    color: #235784;
    border-color: #235784;
}

#navbarSupportedContent > form > button:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #235784;
}
