html, body{
  height: 100%;
}
body {
			background-image: url(bg1.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}

body#home-html div.container {
      float: left;
      padding-right: 50px;
      max-width: 70%;
      margin-left: 90px;
}

body#about-html div.container {
      float: right;
      max-width: 70%;
      background-color: rgba(255, 255, 255, 0.8);
      margin-top: 80px;
}


body#overviews-html div.container {
      float: left;
      padding-right: 50px;
      max-width: 70%;
      margin-left: 90px;
}

/* body#overviews-html .form-control {
    width: 180%;
} */

body#overviews-html .btn-warning {
    color: #000000;
    background-color: #f7aa00;
    border-color: none;
    line-height: 1;
}

/*body#overviews-html .label {
    color: white;
}*/

body#overviews-html .form-group.col-md-4.chartClass {
  max-width: none;
}

table#table2 .element.style {
    width: 800px;
}

body#overviews-html .table-responsive {
    overflow-x: none;
}

@media (min-width: 768px) .col-md-4 {
    max-width: 80%;
}


body#locations-html div.container {
      float: right;
      padding-left: 100px;
      max-width: 70%;
}

div.container > h1, h1 {
      color: white;
      /* margin-left: 15rem; */
      margin-top: 1.5rem;
}

.navbar-expand-lg .navbar-collapse {
    font-size: x-large;
    margin-top: 1.5rem;
}

nav.navbar-light ul.navbar-nav a.nav-link {
    color: #235784;
}


#navbarSupportedContent > form > button{
    color: #235784;
    border-color: #235784;
}

#navbarSupportedContent > form > button:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #235784;
}

.ml3 {
  font-weight: 700;
  font-size: 3.5em;
}

#chart {
  width: 100%;
}

div#chart > svg {
  background-color: rgba(255, 255, 255, 0.8);
  font:none;
}
