html, body{
  height: 100%;
}
body {
			background-image: url(bg1.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}

div.container > h1, h1 {
      color: white;
      margin-left: 15rem;
      margin-top: 1.5rem;
}

.navbar-expand-lg .navbar-collapse {
    font-size: x-large;
    margin-top: 1.5rem;
}

nav.navbar-light ul.navbar-nav a.nav-link {
    color: #235784;
}


#navbarSupportedContent > form > button{
    color: #235784;
    border-color: #235784;
}

#navbarSupportedContent > form > button:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #235784;
}

div.container > h1 {
  margin-left: 450px;
}

@media only screen and (max-width: 993px) {
  div.container > h1, p {
    margin-left: 250px;
  }
}
